<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/style.css" >
		<title>HealthyLife</title>
		<link rel="icon" type="png" href="img/icon.png">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">

	  </head>

	<body>
		<ul>
			<img src="/img/logo2.PNG" class="logo">
			<li><a class="active" href="/">Home</a></li>
			<li><a href="/BmiCalculator">BMI Calculator</a></li>
			<li><a href="/CalorieCalculator">Calorie Calculator</a></li>
		  </ul>
		<div class="form1"><img src="/img/home.PNG" class="Image">
		</div>
		<form class="form" id="form">
			<h1><span class="h1color">H</span>ealthy<span class="h1color">L</span>ife</h1>
			<p><b>A healthy lifestyle</b>
				 is a lifestyle that reduces the chances of getting certain diseases, and increases life expectancy.<br>
				 <b>healthy nutrition:&nbsp;</b>A healthy diet is an important component in maintaining a healthy lifestyle.&nbsp;<br>
				 <b>One </b>of the key recommendations for a healthy diet is to be careful Not to consume more calories than the body burns - so as not to gain weight.<br><br>
				 <b>With this website </b> you can check your <b>BMI</b> and the recommended <b>Daily caloric</b> intake for your body. <br><br>
				 <b> 👇  Click on the calculator  👇 </b>
			</p>
			<ul class="ul1" >
			<li class="li1"><a href="/BmiCalculator"><b>BMI Calculator</b></a></li>
			<li class="li"><a href="/CalorieCalculator"><b>Calorie Calculator</b></a></li>
			</ul>
			</form>
	</body>
</html>